<% if current_paginator.try(:paginatable?) %>
  <%
  # Get variables ready for use
  from_to = wt 'pagination.from_to', from: current_paginator.from, to: current_paginator.to
  of = wt 'pagination.of'
  total_count = wt 'pagination.total_count', total: current_paginator.total
  pers_title = wt 'pagination.pers'
  pages_title = wt 'pagination.pages'
  %>
  <nav class="pagination">
    <span class="pagination__pers">
      <a id="all_pers" href="#dropdown" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= from_to %>
      </a>
      <div class="dropdown-menu" aria-labelledby="all_pers">
        <h5 class="dropdown-header"><%= wt 'pagination.pers' %></h5>
        <% Wallaby::PERS.each do |per| %>
          <%= index_link(current_model_class, url_params: { per: per, with_query: true }, html_options: { class: ['dropdown-item', current_paginator.page_size == per && 'pagination__pers--current']}) { per.to_s } %>
        <% end %>
      </div>
    </span>
    <%= wt 'pagination.of' %>
    <span class="pagination__pages">
      <a id="all_pages" href="#dropdown" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= total_count %>
      </a>
      <%= form_tag index_path(current_model_class), method: :get, class: 'dropdown-menu', aria: { labelledby: 'all_pages' } do %>
        <% request.query_parameters.except(:page, :utf8).each do |key, value| %>
          <%= hidden_field_tag key, value %>
        <% end %>
        <h5 class="dropdown-header"><%= wt 'pagination.pages' %></h5>
        <span class="dropdown-item"><%= number_field_tag 'page', current_paginator.page_number, id: 'page_number' %></span>
      <% end %>
    </span>
    <% if current_paginator.prev_page? # has prev page %>
      <%= index_link(current_model_class, url_params: { page: current_paginator.prev_page_number, with_query: true }, html_options: { class: 'pagination__prev' }) { wt 'pagination.prev' } %>
    <% end %>
    <% if current_paginator.next_page? # has next page %>
      <%= index_link(current_model_class, url_params: { page: current_paginator.next_page_number, with_query: true }, html_options: { class: 'pagination__next' }) { wt 'pagination.next' } %>
    <% end %>
  </nav>
<% end %>
