<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<% # Kaminari pagination %>
<% if paginatable? collection %>
  <%
  first = collection.offset_value + 1
  last = [collection.offset_value + collection.limit_value, collection.total_count].min
  total = collection.total_count
  page = [ index_params[:page].to_i, 1 ].max
  per_page = (params[:per] || 20).to_i
  pages = (total / per_page.to_f).ceil
  previous_text = t('views.pagination.previous').html_safe
  next_text = t('views.pagination.next').html_safe
  %>
  <span class="filters dropdown">
    <span>Filter: </span>
    <a id="filter_list" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All</a>
    <ul class="dropdown-menu" aria-labelledby="filter_list">
      <li><a href="#">Coming soon...</a></li>
    </ul>
  </span>
  <div class="kaminari">
    <% _with_routes wallaby_engine do %>
      <% if path_to_prev_page(collection) %>
        <nav class="pagination">
          <span class="prev">
            <%= link_to_previous_page(collection, previous_text) %>
          </span>
        </nav>
      <% end %>
    <% end %>
    <div class="pagination-info">
      <span class="dropdown">
        <a id="per_page_list" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= first %> - <%= last %></a>
        <ul class="dropdown-menu" aria-labelledby="per_page_list">
          <li><em>Page Size</em></li>
          <% Wallaby::PERS.each do |per| %>
            <li class="<%= per_page == per && 'current' %>"><%= index_link nil, { class: per, extra_params: index_params.merge(per: per) } { per.to_s } %></li>
          <% end %>
        </ul>
      </span>
      of
      <% if pages > 1 %>
        <span class="dropdown">
          <a id="per_page_list" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= total %></a>
          <ul class="dropdown-menu" aria-labelledby="per_page_list">
            <li><em>Page Number</em></li>
            <% (1..pages).each do |page_number| %>
              <li class="<%= page_number == page && 'current' %>"><%= index_link nil, { class: page_number, extra_params: index_params.merge(page: page_number) } { page_number.to_s } %></li>
            <% end %>
          </ul>
        </span>
      <% else %>
        <%= total %>
      <% end %>
    </div>
    <% _with_routes wallaby_engine do %>
      <% if path_to_next_page(collection) %>
        <nav class="pagination">
          <span class="next">
            <%= link_to_next_page(collection, next_text) %>
          </span>
        </nav>
      <% end %>
    <% end %>
  </div>
<% end %>
<% # /Kaminari pagination %>
