<%
paginator = paginator_of current_model_class, collection, index_params
%>
<% if paginator.paginatable? %>
  <%
  from_to = t 'pagination.from_to', from: paginator.from, to: paginator.to
  of = t 'pagination.of'
  total_count = t 'pagination.total_count', total: paginator.total
  pers_title = t 'pagination.pers'
  pages_title = t 'pagination.pages'
  %>
  <nav class="pagination">
    <span class="pagination__metadata">
      <% if paginator.number_of_pages > 1 # more than one page%>
        <span class="pagination__pers">
          <a id="all_pers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= from_to %>
          </a>
          <ul aria-labelledby="all_pers">
            <li><em><%= t 'pagination.pers' %></em></li>
            <% Wallaby::PERS.each do |per| %>
              <%= content_tag :li, class: paginator.page_size == per && 'pagination__pers--current' do %>
                <%= index_link(current_model_class, url_params: index_params.merge(per: per)) { per.to_s } %>
              <% end %>
            <% end %>
          </ul>
        </span>
        <%= t 'pagination.of' %>
        <span class="pagination__pages">
          <a id="all_pages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= total_count %>
          </a>
          <%= content_tag :form, action: index_path(current_model_class), method: :get, aria: { labelledby: 'all_pages' } do %>
            <% index_params.except(:page).each do |permitted, value| %>
              <%= hidden_field_tag permitted, value %>
            <% end %>
            <label for="page_number">
              <%= t 'pagination.pages' %>
            </label>
            <%= number_field_tag 'page', paginator.page_number, id: 'page_number' %>
          <% end %>
        </span>
      <% else # only one page %>
        <%= from_to + of + total_count %>
      <% end %>
    </span>
    <% if paginator.prev_page? # has prev page %>
      <span>
        <%= index_link(current_model_class, url_params: index_params.merge(page: paginator.prev_page_number)) { t 'pagination.prev' } %>
      </span>
    <% end %>
    <% if paginator.next_page? # has next page %>
      <span>
        <%= index_link(current_model_class, url_params: index_params.merge(page: paginator.next_page_number)) { t 'pagination.next' } %>
      </span>
    <% end %>
  </nav>
<% end %>
