<%
query_classes = proc do
  classes = %w(query)
  classes.push 'query--filtered' if index_params.present?
  classes
end
%>
<%= content_tag :div, class: query_classes.call do %>
  <nav class="query__actions">
    <%= index_link(current_model_class, html_classes('query__clear')) {} if index_params.present? %>
    <%= new_link(current_model_class, html_classes('query__create')) {} %>
    <a id="actions_list" class="query__more"
      role="button" data-target="#" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true"></a>
    <%= render 'index_actions' %>
  </nav>
  <%= form_tag index_path(current_model_class), method: :get, class: 'query__search' do %>
    <%= hidden_field_tag :sort, index_params[:sort] %>
    <label for="q">
      <%= text_field_tag :q, index_params[:q], placeholder: t('search.hint') %>
    </label>
  <% end %>
<% end %>
