<% if current_paginator.try(:paginatable?) %>
  <%
  # Get variables ready for use
  from_to = t 'pagination.from_to', from: current_paginator.from, to: current_paginator.to
  of = t 'pagination.of'
  total_count = t 'pagination.total_count', total: current_paginator.total
  pers_title = t 'pagination.pers'
  pages_title = t 'pagination.pages'
  %>
  <nav class="pagination">
    <span class="pagination__metadata">
      <span class="pagination__pers">
        <a id="all_pers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= from_to %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="all_pers">
          <li><em><%= t 'pagination.pers' %></em></li>
          <% Wallaby::PERS.each do |per| %>
            <%= content_tag :li, class: current_paginator.page_size == per && 'pagination__pers--current' do %>
              <%= index_link(current_model_class, url_params: { per: per, with_query: true }) { per.to_s } %>
            <% end %>
          <% end %>
        </ul>
      </span>
      <%= t 'pagination.of' %>
      <span class="pagination__pages">
        <a id="all_pages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= total_count %>
        </a>
        <%= form_tag index_path(current_model_class), method: :get, class: 'dropdown-menu', aria: { labelledby: 'all_pages' } do %>
          <% request.query_parameters.except(:page, :utf8).each do |key, value| %>
            <%= hidden_field_tag key, value %>
          <% end %>
          <label for="page_number">
            <%= t 'pagination.pages' %>
          </label>
          <%= number_field_tag 'page', current_paginator.page_number, id: 'page_number' %>
        <% end %>
      </span>
    </span>
    <% if current_paginator.prev_page? # has prev page %>
      <span>
        <%= index_link(current_model_class, url_params: { page: current_paginator.prev_page_number, with_query: true }) { t 'pagination.prev' } %>
      </span>
    <% end %>
    <% if current_paginator.next_page? # has next page %>
      <span>
        <%= index_link(current_model_class, url_params: { page: current_paginator.next_page_number, with_query: true }) { t 'pagination.next' } %>
      </span>
    <% end %>
  </nav>
<% end %>
