<% # can be overridden %>
<nav class="resource__nav">
  <% unless params[:resource] %>
    <%= index_link(current_model_class, html_options: { class: 'resources__index' }) {} %>
  <% end %>

  <% if action_name == 'edit' %>
    <%= show_link(resource, options: params.slice(:resource), html_options: { class: 'resource__show' }) {} %>
  <% end %>

  <% if action_name == 'show' %>
    <% if resource %>
      <%= edit_link(resource, options: params.slice(:resource), html_options: { class: 'resource__update' }) {} %>
      <%= delete_link(resource, options: params.slice(:resource), html_options: { class: 'resource__destroy' }) {} %>
    <% else %>
      <%= new_link(current_model_class, html_options: { class: 'resource__create' }) {} %>
    <% end %>
  <% end %>
</nav>
