<%
# decorate first on every page or partial
decorated_resource = decorate resource
%>
<section>
  <%= render 'wallaby/resources/shared/resource_nav' %>
  <div class="page-header">
    <h1>Edit # <%= decorated_resource.id %></h1>
  </div>
  <%= render 'wallaby/shared/flash_messages' %>
  <%= form_for decorated_resource, url: wallaby_engine.resource_path, method: :put, html: { :multipart => true } do |form| %>
    <%= render 'form', form: form, decorated_resource: decorated_resource %>
  <% end %>
</section>