<%
# decorate first on every page or partial
decorated = decorate resource
%>
<article class="resource resource__form">
  <div class="resource__header">
    <h1 class="resource__title"><%= wt 'labels.edit', id: decorated.id %></h1>
    <%= render 'resource_navs' %>
  </div>
  <%= render 'flash_messages' %>
  <section>
    <div class="resource__container">
      <%= form_for decorated,
        url: url_for(action: :show), method: :put,
        html: { :multipart => true } do |form| %>
        <%= render 'form', form: form, decorated: decorated %>
      <% end %>
    </div>
  </section>
</article>
