<%
# decorate first on every page or partial
decorated = decorate resource
%>
<article class="resource">
  <div class="resource__header">
    <h1><%= t 'labels.edit', id: decorated.id %></h1>
    <%= render 'resource_navs' %>
  </div>
  <%= render 'flash_messages' %>
  <section>
    <div class="resource__container">
      <%= form_for decorated, url: url_for(action: :show, with_query: true), method: :put, html: { :multipart => true }, builder: Wallaby::FormBuilder do |form| %>
        <%= render 'form', form: form, decorated: decorated %>
      <% end %>
    </div>
  </section>
</article>
