<%= render 'shared/breadcrumb' %>

<section>
  <h1>Edit a <%= decorator.model_name %></h1>
  <%= form_for record, url: wallaby_engine.resource_path, method: :put do |form| %>
    <% decorator.edit_fields.each do |field| %>
      <div>
        <%= form.label field %>
        <%= form.text_field field %>
      </div>
    <% end %>
    <%= form.submit %>
    <%= cancel_link %>
  <% end %>
</section>