<article class="card border-light http-error <%= @symbol %>">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag "wallaby/#{@symbol}.png", class: 'card-img' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">
          <em><%= @code %></em>
          <span><%= wt "http_errors.#{@symbol}" %></span>
        </h1>
        <p class="card-text">
          <% if @code >= 500 && @code != 501 %>
            <%= wt "http_errors.report_error_html" %>
          <% else %>
            <%= @exception.try(:message) || flash[:alert] %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</article>
