<%
# decorate first on every page or partial
decorated_collection = decorate collection
%>
<article class="resources">
  <div class="resources__header">
    <h1 class="resources__title"><%= to_model_label(current_model_class) %></h1>
    <%= render 'index_filters' %>
    <%= render 'index_pagination' %>
    <%= render 'index_query' %>
  </div>
  <%= render 'flash_messages' %>

  <section>
    <% # Data table %>
    <% if decorated_collection.present? %>
      <% field_names = current_model_decorator.index_field_names %>
      <div class="resources__container">
        <table class="resources__data">
          <thead>
            <tr>
              <% field_names.each do |field_name| %>
                <%= content_tag :th, class: sort_link_builder.current_sort[field_name] do %>
                  <%= sort_link_builder.build field_name %>
                <% end %>
              <% end %>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% decorated_collection.each do |decorated| %>
              <tr>
                <% field_names.each do |field_name| %>
                  <td>
                    <%= render decorated.index_type_of(field_name),
                      object: decorated,
                      field_name: field_name,
                      value: decorated.try(field_name),
                      metadata: decorated.index_metadata_of(field_name)
                    %>
                  </td>
                <% end %>
                <td class="resource__actions">
                  <%= render 'resource_actions', decorated: decorated %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="resources__not-found">
        <%= image_tag 'wallaby/not_found.png', class: 'resources__not-found-image' %>
        <%= wt 'errors.not_found.collection' %>
      </div>
    <% end %>
    <% # /Data table %>
  </section>
</article>
