<%
# decorate first on every page or partial
decorated_collection = decorate collection
%>
<article>
  <% # Search form %>
  <div class="page-header <%= decorated_collection.presence && 'has-collection' %>">
    <h1><%= to_model_label(current_model_class) %></h1>
    <div class="pull-right">
      <div class="actions">
        <%= render 'index_actions' %>
      </div>
      <%= form_tag wallaby_engine.resources_path, method: :get do %>
        <label class="search">
          <%= text_field_tag :q, request.query_parameters[:q], placeholder: "Press enter to search.", class: 'form-control input-sm' %>
        </label>
      <% end %>
    </div>
    <%= render 'index_pagination' %>
  </div>

  <section>
    <% # /Search form %>
    <%= render 'wallaby/shared/flash_messages' %>
    <% # Data table %>
    <% if decorated_collection.present? %>
      <div class="inner">
        <table class="data-table">
          <thead>
            <tr>
              <% current_model_decorator.index_field_names.each do |field_name| %>
                <th class="<%= sort_class field_name %>">
                  <%= sort_link field_name %>
                </th>
              <% end %>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% decorated_collection.each do |decorated| %>
              <tr>
                <% current_model_decorator.index_field_names.each do |field_name| %>
                  <td>
                    <%= index_type_partial_render decorated.index_type_of(field_name), object: decorated, field_name: field_name %>
                  </td>
                <% end %>
                <td class="actions">&nbsp;</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <table class="actions-table">
        <thead>
          <tr>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% decorated_collection.each do |decorated| %>
            <tr>
              <td class="actions">
                <%= render 'resource_actions', decorated: decorated %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="centre">
        <%= image_tag 'wallaby/sign' %>
        <%= t 'collection.not_found' %>
      </div>
    <% end %>
    <% # /Data table %>
  </section>
</article>
