
<section>
  <h1 class="subheader">List of <%= model_decorator %></h1>
  <hr />
  <%= render 'shared/breadcrumb' %>
  <table class="table">
    <thead>
      <tr>
        <% model_decorator.list_field_names.each do |field| %>
          <th><%= model_decorator.label_of field %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-striped">
      <% if records.present? %>
        <% records.each do |record| %>
          <% pretty_record = decorator(model_class, record) %>
          <tr>
            <% model_decorator.list_field_names.each do |field| %>
              <td>
                <%= pretty_record.list field %>
              </td>
            <% end %>
            <td>
              <%= show_link record.id, class: 'show-icon-link' %>
              <%= edit_link record.id, class: 'edit-icon-link' %>
              <%= delete_link record.id, class: 'delete-icon-link' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="<%= decorator.fields.length %>">
            <%= t 'records.not_found' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>