<%
# decorate first on every page or partial
decorated_collection = decorate collection
%>
<article class="resources">
  <div class="resources__header">
    <h1><%= to_model_label(current_model_class) %></h1>
    <%= Wallaby::QueryComponent.new(current_model_class, self).build do
      render 'index_actions'
    end %>
    <%= Wallaby::FiltersComponent.new(current_model_decorator.filters, current_model_class, self).build %>
    <%= Wallaby::PaginationComponent.new(collection, current_model_class, self).build %>
  </div>
  <%= render 'wallaby/shared/flash_messages' %>

  <section>
    <% # Data table %>
    <% if decorated_collection.present? %>
      <% field_names = authorized_field_names current_model_decorator, :index %>
      <div class="resources__container">
        <table class="resources__data">
          <thead>
            <tr>
              <% field_names.each do |field_name| %>
                <th class="<%= sort_class field_name %>">
                  <%= sort_link field_name %>
                </th>
              <% end %>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% decorated_collection.each do |decorated| %>
              <tr>
                <% field_names.each do |field_name| %>
                  <td>
                    <%= index_type_partial_render decorated.index_type_of(field_name), object: decorated, field_name: field_name %>
                  </td>
                <% end %>
                <td class="resource__actions">
                  <%= render 'resource_actions', decorated: decorated %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="resources__not-found">
        <%= image_tag 'wallaby/404.png' %>
        <%= t 'errors.not_found.collection' %>
      </div>
    <% end %>
    <% # /Data table %>
  </section>
</article>
