
<section>
  <h1 class="subheader">List of <%= decorator.model_name %></h1>
  <%= render 'shared/breadcrumb' %>
  <table>
    <thead>
      <tr>
        <% decorator.list_fields.each do |field| %>
          <th><%= decorator.label_of field %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if records.present? %>
        <% records.each do |record| %>
          <% pretty_record = decorator(model_class, record) %>
          <tr>
            <% decorator.list_fields.each do |field| %>
              <td>
                <%= pretty_record.list field %>
              </td>
            <% end %>
            <td>
              <%= show_link record.id, class: 'show-icon-link' %>
              <%= edit_link record.id, class: 'edit-icon-link' %>
              <%= delete_link record.id, class: 'delete-icon-link' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="<%= decorator.fields.length %>">
            <%= t 'records.not_found' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>