<%
# decorate first on every page or partial
decorated_collection = decorate collection
%>
<section>
  <% # Search form %>
  <div class="search-form <%= params[:sort].present? && 'sort' || '' %>">
    <div class="right">
      <%= new_link(current_model_class, class: 'btn btn-primary') { ct 'link.new' } %>
      <%= index_link(current_model_class, class: 'btn btn-default') { ct 'link.clear_sort' } if params[:sort].present? %>
    </div>
    <%= form_tag wallaby_engine.resources_path, method: :get do %>
      <%= text_field_tag :q, request.query_parameters[:q], placeholder: "Press enter to search. Example: 'text_keyword1 text_keyword2 field_name:value'"  %>
    <% end %>
  </div>
  <% # /Search form %>
  <%= render 'wallaby/shared/flash_messages' %>
  <% # Data table %>
  <table class="data-table">
    <thead>
      <tr>
        <% current_model_decorator.index_field_names.each do |field_name| %>
          <th class="<%= sort_class field_name %>">
            <%= sort_link field_name %>
          </th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if decorated_collection.present? %>
        <% decorated_collection.each do |decorated| %>
          <tr>
            <% current_model_decorator.index_field_names.each do |field_name| %>
              <td>
                <%= type_partial_render decorated.index_type_of(field_name), object: decorated, field_name: field_name %>
              </td>
            <% end %>
            <td>
              <%= show_link(decorated, class: 'text-info') { itooltip ct('link.show'), 'link' } %>
              <%= edit_link(decorated) { itooltip ct('link.edit'), 'pencil' } %>
              <%= delete_link(decorated) { itooltip ct('link.delete'), 'trash' } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="<%= current_model_decorator.index_field_names.length + 1 %>">
            <%= t 'collection.not_found' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% # /Data table %>
  <% # Kaminari pagination %>
  <% if paginatable? collection %>
    <div class="kaminari clearfix">
      <div class="pull-left pagination-info">
        <%= page_entries_info collection rescue custom_pagination_stats collection %>
      </div>
      <% _with_routes wallaby_engine do %>
        <%= paginate collection rescue nil %>
      <% end %>
    </div>
  <% end %>
  <% # /Kaminari pagination %>
</section>
