
<section>
  <div class="pull-right">
    <%= new_link class: 'btn btn-primary' %>
  </div>
  <h1 class="subheader">List of <%= model_decorator %></h1>
  <hr />
  <%= render 'shared/breadcrumb' %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <% model_decorator.index_field_names.each do |field_name| %>
          <th><%= model_decorator.index_label_of field_name %></th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if collection.present? %>
        <% collection.each do |resource| %>
          <% decorated_resource = decorator.new resource %>
          <tr>
            <% decorated_resource.index_field_names.each do |field_name| %>
              <td>
                <%= type_partial_render decorated_resource.index_type_of(field_name).to_s, value: decorated_resource.send(field_name) %>
              </td>
            <% end %>
            <td>
              <%= show_link decorated_resource, class: 'glyphicon glyphicon-info-sign', button: true %>
              <%= edit_link decorated_resource, class: 'glyphicon glyphicon-edit', button: true %>
              <%= delete_link decorated_resource, class: 'glyphicon glyphicon-remove-sign', button: true %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="<%= model_decorator.index_field_names.length + 1 %>">
            <%= t 'collection.not_found' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>