<% decorated = decorate resource %>
<article class="resource">
  <div class="resource__header">
    <h1><%= t 'labels.create', model: to_model_label(current_model_class) %></h1>
    <%= render 'resource_navs' %>
  </div>
  <%= render 'flash_messages' %>
  <section>
    <div class="resource__container">
      <%= form_for(
        decorated, url: url_for(action: (params[:resource] ? :show : :index)),
        method: :post, html: { :multipart => true }, builder: Wallaby::FormBuilder
      ) do |form| %>
        <%= render 'form', form: form, decorated: decorated %>
      <% end %>
    </div>
  </section>
</article>
