<%= render 'shared/breadcrumb' %>

<section>
  <h1>Create a <%= decorator.model_name %></h1>
  <%= form_for new_record, url: wallaby_engine.resources_path, method: :post do |form| %>
    <% decorator.new_fields.each do |field| %>
      <div>
        <%= form.label field %>
        <%= form.text_field field %>
      </div>
    <% end %>
    <%= form.submit %>
    <%= cancel_link %>
  <% end %>
</section>