<section>
  <h1>Create a <%= model_decorator.model_name %></h1>
  <%= form_for new_record, url: wallaby_engine.resources_path, method: :post do |form| %>
    <% model_decorator.editable_fields.each do |field| %>
      <div>
        <%= form.label field, model_decorator.name_of(field) %>
        <%= build_field form, field %>
      </div>
    <% end %>
    <%= form.submit %>
  <% end %>
</section>