<%
# decorate first on every page or partial
decorated = decorate resource
%>
<article class="resource">
  <div class="resource__header">
    <h1><%= show_title decorated %></h1>
    <%= render 'wallaby/resources/shared/resource_nav' %>
  </div>
  <%= render 'wallaby/shared/flash_messages' %>
  <section>
    <div class="resource__container">
      <% authorized_field_names(current_model_decorator, :show).each do |field_name| %>
        <dl>
          <dt><%= decorated.show_label_of field_name %></dt>
          <dd><%= type_partial_render decorated.show_type_of(field_name).to_s, object: decorated, field_name: field_name %></dd>
        </dl>
      <% end %>
    </div>
  </section>
</article>
