<% pretty_record = record_decorator record %>
<% record_datetime = proc do |field| %>
  <% if pretty_record.respond_to?(field) && pretty_record.send(field).present? %>
    <span>
      <%= model_decorator.label_of field %>
      <time datetime="<%= pretty_record.send(field).to_s :db %>">
        <%= pretty_record.send field %>
      </time>
    </span>
  <% end %>
<% end %>

<%= render 'shared/breadcrumb' %>
<nav>
  <ol>
    <li>
      <%= edit_link record.id, class: 'edit-icon-label-link' %>
    </li>
    <li>
      <%= delete_link record.id, class: 'delete-icon-label-link' %>
    </li>
  </ol>
</nav>
<article>
  <header>
    <h1>
      <%= pretty_record.to_label %>
    </h1>
    <div>
      <%= record_datetime.call :updated_at %>
      <%= record_datetime.call :created_at %>
    </div>
  </header>
  <section class="fields">
    <% model_decorator.show_fields.each do |field| %>
      <article class="field">
        <h2>
          <%= model_decorator.label_of field %>
        </h2>
        <code class="box">
          <%= pretty_record.send "show_#{ field }" %>
        </code>
      </article>
    <% end %>
  </section>
</article>