<% decorated_resource = decorator.new resource %>
<article>
  <h1>
    <%= decorated_resource.to_label %>
  </h1>
  <div>
    <% (decorated_resource.show_field_names & %w( updated_at created_at )).each do |field_name| %>
      <span>
        <span><%= decorated_resource.show_label_of field_name %>:</span>
        <em class="text-muted"><%= type_partial_render decorated_resource.show_type_of(field_name).to_s, value: decorated_resource.send(field_name) %></em>
      </span>
    <% end %>
  </div>
  <hr />
  <%= render 'shared/breadcrumb' %>
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="active">
        <%= show_link decorated_resource, class: 'show-icon-label-link' %>
      </li>
      <li role="presentation">
        <%= edit_link decorated_resource, class: 'edit-icon-label-link' %>
      </li>
      <li role="presentation">
        <%= delete_link decorated_resource, class: 'delete-icon-label-link' %>
      </li>
    </ul>
  </nav>
  <section class="fields">
    <% decorated_resource.show_field_names.each do |field_name| %>
      <article class="field">
        <h6>
          <%= decorated_resource.show_label_of field_name %>
        </h6>
        <code class="box">
          <%= type_partial_render decorated_resource.show_type_of(field_name).to_s, value: decorated_resource.send(field_name) %>
        </code>
      </article>
    <% end %>
  </section>
</article>