<%
# decorate first on every page or partial
decorated = decorate resource
%>
<article class="resource">
  <div class="resource__header">
    <h1 class="resource__title"><%= show_title decorated %></h1>
    <%= render 'resource_navs' %>
  </div>
  <%= render 'flash_messages' %>
  <section>
    <div class="resource__container">
      <% decorated.show_field_names.each do |field_name| %>
        <dl class="resource__field">
          <dt class="resource__label"><%= decorated.show_label_of field_name %></dt>
          <dd class="resource__value">
            <%= render decorated.show_type_of(field_name),
              object: decorated,
              field_name: field_name,
              value: decorated.try(field_name),
              metadata: decorated.show_metadata_of(field_name)
            %>
          </dd>
        </dl>
      <% end %>
    </div>
  </section>
</article>
