<%
# decorate first on every page or partial
decorated = decorate resource
%>
<article class="resource">
  <div class="resource__header">
    <h1><%= show_title decorated %></h1>
    <%= render 'resource_navs' %>
  </div>
  <%= render 'flash_messages' %>
  <section>
    <div class="resource__container">
      <% decorated.show_field_names.each do |field_name| %>
        <dl>
          <dt><%= decorated.show_label_of field_name %></dt>
          <dd><%= type_partial_render decorated.show_type_of(field_name), object: decorated, field_name: field_name %></dd>
        </dl>
      <% end %>
    </div>
  </section>
</article>
