<% pretty_record = decorator %>
<article>
  <h1>
    <%= pretty_record.to_label %>
  </h1>
  <div>
    <% %w( updated_at created_at ).each do |datetime| %>
      <small>
        <strong><%= pretty_record.label_of datetime %>:</strong>
        <span><%= pretty_record.send datetime %></span>
      </small>
    <% end %>
  </div>
  <hr />
  <%= render 'shared/breadcrumb' %>
  <nav>
    <dl class="sub-nav">
      <dt>Links:</dt>
      <dd class="active">
        <%= show_link record.id, class: 'show-icon-label-link' %>
      </dd>
      <dd>
        <%= edit_link record.id, class: 'edit-icon-label-link' %>
      </dd>
      <dd>
        <%= delete_link record.id, class: 'delete-icon-label-link' %>
      </dd>
    </dl>
  </nav>
  <section class="fields">
    <% pretty_record.show_fields.each do |field| %>
      <article class="field">
        <h6>
          <%= pretty_record.label_of field %>
        </h6>
        <code class="box">
          <%= pretty_record.show field %>
        </code>
      </article>
    <% end %>
  </section>
</article>