<header>
  <nav class="navbar">
    <div class="container-fluid">
      <%# Brand %>
      <div class="navbar-header">
        <%# Mobile Menu Toggler %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
          <span class="fa fa-bars"></span>
        </button>
        <%# //Mobile Menu Toggler %>
        <a class="navbar-brand" href="<%= wallaby_engine.root_path %>"><span>Wallaby</span> Admin</a>
      </div>
      <%# //Brand %>

      <div id="top-menu" class="collapse navbar-collapse">
        <%# Resources navigation %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Data <span class="caret"></span>
            </a>
            <%= model_tree model_classes %>
          </li>
        </ul>
        <%= render 'layouts/wallaby/navs' %>
        <%# //Resources navigation %>
        <%# User account %>
        <ul class="nav navbar-nav navbar-right">
          <li><span class=""></span></li>
          <% if current_user.present? %>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= user_portrait %>
                <span class="visible-xs-inline-block">User</span>
                <span class="caret"></span>
              </a>
              <% if logout_path.present? %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Sign out', logout_path, method: logout_method %></li>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%# //User account %>
      </div>
    </div>
  </nav>
</header>
