<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if features.turbolinks_enabled %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= csrf_meta_tags %>

    <title><%= render 'title' %></title>

    <%= stylesheet_link_tag 'wallaby/application', media: 'all' %>
    <%= yield :custom_stylesheet %>
    <%= javascript_include_tag 'turbolinks' if features.turbolinks_enabled %>
    <%= javascript_include_tag 'wallaby/application' %>
  </head>
  <body class="application <%= body_class %>">
    <%= render 'header' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'footer' %>
    <%= render 'imodal' %>
    <%= yield :custom_javascript %>
  </body>
</html>
