<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if Wallaby.configuration.features.turbolinks_enabled %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= csrf_meta_tags %>

    <title><%= render 'title' %></title>

    <%= stylesheet_link_tag 'wallaby/application', media: 'all' %>
    <%= yield :custom_stylesheet %>
    <%= javascript_include_tag 'turbolinks' if Wallaby.configuration.features.turbolinks_enabled %>
    <%= javascript_include_tag 'wallaby/application' %>
  </head>
  <body class="error <%= body_class %>">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <%# Brand %>
          <div class="navbar-header">
            <%# Mobile Menu Toggler %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
              <span class="fa fa-bars"></span>
            </button>
            <%# //Mobile Menu Toggler %>
            <a class="navbar-brand" href="<%= wallaby_engine.root_path %>"><span>Wallaby</span> Admin</a>
          </div>
          <%# //Brand %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    <%= render 'footer' %>
    <%= yield :custom_javascript %>
  </body>
</html>
