<div class="form-group <%= form.error_class field_name %>">
  <%= form.label metadata[:foreign_key], metadata[:label] %>
  <div class="row">
    <% if metadata[:is_polymorphic] %>
      <div class="col-xs-6 col-sm-3">
        <%= form.select metadata[:polymorphic_type], metadata[:polymorphic_list].try(:map, &:to_s), { include_blank: true }, { class: 'form-control' } %>
      </div>
      <div class="col-xs-3">
        <%= form.text_field metadata[:foreign_key], class: 'form-control' %>
      </div>
    <% else %>
      <div class="col-xs-6 col-sm-3">
        <%= form.select metadata[:foreign_key], model_choices(model_decorator(metadata[:class])), { include_blank: true }, { class: 'form-control' } %>
        <p class="help-block">
          <%= new_link metadata[:class], prepend: 'Or' %>
        </p>
      </div>
    <% end %>
  </div>
  <%= form.error_messages field_name %>
</div>
