<%
wildcard = metadata[:wildcard] || Wallaby::WILDCARD
decorated = decorate value
url = unless metadata[:is_polymorphic]
  remote_url(metadata[:remote_url], metadata[:class], wildcard)
end || 'url'
%>
<div class="form-group <%= form.error_class field_name %>">
  <%= form.label metadata[:foreign_key], metadata[:label] %>
  <div class="row">
    <span class="auto_select" data-init="belongs_to" data-url="<%= url %>" data-wildcard="<%= wildcard %>">
      <% # polymorphic class dropdown box
      # with remote url for typeahead to use
      if metadata[:is_polymorphic] %>
        <div class="col-xs-6 col-sm-4 auto_select--spacing">
          <%= form.select metadata[:polymorphic_type], polymorphic_options(metadata, wildcard, selected: object.public_send(metadata[:polymorphic_type])), { include_blank: true }, { class: 'form-control' } %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6">
        <%= form.text_field metadata[:foreign_key], value: nil, class: 'form-control', placeholder: t('labels.auto_select_hint') %>
      </div>
      <ul>
        <% if decorated.present? %>
          <li>
            <%= form.hidden_field metadata[:foreign_key], value: decorated.primary_key_value, id: nil %>
            <a href="javascript:;"><%= decorated.to_label %></a>
          </li>
        <% end %>
      </ul>
    </span>
  </div>
  <%= form.error_messages field_name %>
  <% unless metadata[:is_polymorphic] %>
    <p class="help-block">
      <%= new_link metadata[:class] %>
    </p>
  <% end %>
</div>

<% # load script for only once
unless @belongs_to_init
  @belongs_to_init = true
  content_for :custom_javascript do
    javascript_tag do %>
      jQuery(document).off('turbolinks:load.belongs_to').on('turbolinks:load.belongs_to', function () {
        jQuery('[data-init="belongs_to"]').on('change', 'select', function () {
          var $option = jQuery(this.selectedOptions);
          var $span = $(this).parents('span:first');
          $span.data('url', $option.data('url')).trigger('reload');
        }).trigger('change').auto_select();
      });
<%  end
  end
end %>
