<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-3">
      <%= form.label field_name, class: 'btn btn-default' do %>
        <%= form.file_field field_name, class: 'hidden' %>
        <%= fa_icon 'upload' %> <%= ct 'lable.upload' %>
      <% end %>
    </div>
  </div>
  <%= form.error_messages field_name %>
</div>
