<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-12">
      <label class="radio-inline">
        <%= form.radio_button field_name, true %> Yes
      </label>
      <label class="radio-inline">
        <%= form.radio_button field_name, false %> No
      </label>
    </div>
  </div>
  <%= form.error_messages field_name %>
</div>
