<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="input-group date" data-init='datepicker'>
        <%= form.text_field field_name, class: 'form-control' %>
        <span class="input-group-addon"><%= icon 'calendar' %></span>
      </div>
    </div>
  </div>
  <%= form.error_messages field_name %>
</div>

<% unless @datepicker_init %>
  <% @datepicker_init = true %>
  <% content_for :custom_javascript do %>
    <% javascript_tag do %>
      jQuery(document).off('turbolinks:load.date').on('turbolinks:load.date', function () {
        $('[data-init="datepicker"]').each(function() {
          var $input = $('input', this)
          $input.val(moment($input.attr('value')).format('YYYY-MM-DD'))
          $(this).datetimepicker({
            format: 'YYYY-MM-DD'
          })
        })
      })
    <% end %>
  <% end %>
<% end %>
