<%#
The following params are the variables that can be used in this partial.

@param form [Wallaby::FormBuilder] custom form object that adds a few helper methods and delegate missing methods to the view
@param object [Wallaby::ResourceDecorator] decorator instance which wraps the resource (e.g. ActiveRecord) instance
@param field_name [String] name of the field
@param value [Object] value of the field
@param metadata [Hash] metadata of the field
%>
<% picker_id = SecureRandom.uuid %>
<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-6 col-sm-4">
      <div id="<%= picker_id %>" class="input-group date" data-init="datetimepicker" data-target-input="nearest">
        <%= form.text_field field_name, class: 'form-control datetimepicker-input', 'data-target': "##{picker_id}" %>
        <span class="input-group-append" data-target="#<%= picker_id %>" data-toggle="datetimepicker"><span class="input-group-text"><%= fa_icon 'calendar' %></span></span>
      </div>
    </div>
  </div>
  <%= form.error_messages field_name %>
  <%= hint_of metadata %>
</div>

<% unless @datetimepicker_init %>
  <% @datetimepicker_init = true %>
  <% content_for :custom_javascript do %>
    <% javascript_tag do %>
      jQuery(document).off(readyPrefix('.datetime')).on(readyPrefix('.datetime'), function () {
        $('[data-init="datetimepicker"]').each(function() {
          var $input = $('input', this)
          $input.val(moment($input.attr('value')).format('YYYY-MM-DD HH:mm'))
          $(this).datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            sideBySide: true
          })
        })
      })
    <% end %>
  <% end %>
<% end %>
