<%#
The following params are the variables that can be used in this partial.

@param form [Wallaby::FormBuilder] custom form object that adds a few helper methods and delegate missing methods to the view
@param object [Wallaby::ResourceDecorator] decorator instance which wraps the resource (e.g. ActiveRecord) instance
@param field_name [String] name of the field
@param value [Object] value of the field
@param metadata [Hash] metadata of the field
%>
<%
decorated = decorate(value || [])
readonly = unauthorized? :edit, metadata[:class]
%>
<div class="form-group <%= form.error_class field_name %>">
  <%= form.label metadata[:foreign_key], metadata[:label] %>
  <div class="row">
    <% if readonly %>
      <div class="col-12">
        <%= decorated.map(&:to_label).to_sentence %>
      </div>
    <% else %>
      <%
      wildcard = 'QUERY'
      url = remote_url(metadata[:remote_url], metadata[:class], wildcard)
      %>
      <span class="auto_select" data-init="has_many" data-url="<%= url %>" data-wildcard="<%= wildcard %>">
        <div class="col-12 col-sm-6">
          <%= form.text_field metadata[:foreign_key], value: nil, class: 'form-control', multiple: true, placeholder: wt('labels.auto_select_hint') %>
        </div>
        <strong class="auto_select__count"><%= wt 'labels.count' %><span></span></strong>
        <ul class="auto_select__list">
          <% decorated.each do |v| %>
            <li class="auto_select__item">
              <%= form.hidden_field metadata[:foreign_key], value: v.primary_key_value, multiple: true, id: nil %>
              <a class="auto_select__link" href="javascript:;"><%= v.to_label %></a>
            </li>
          <% end %>
        </ul>
      </span>
    <% end %>
  </div>
  <%= form.error_messages field_name %>
  <%= hint_of metadata %>
  <p class="help-block">
    <%= new_link metadata[:class] %>
  </p>
</div>

<% #load script for only once
unless @has_many_init
  @has_many_init = true
  content_for :custom_javascript do
    javascript_tag do %>
      jQuery(document).off(readyPrefix('.has_many')).on(readyPrefix('.has_many'), function () {
        $('[data-init="has_many"]').auto_select();
      });
<%  end
  end
end %>
