<%
wildcard = 'QUERY'
url = remote_url(metadata[:remote_url], metadata[:class], wildcard)
%>
<div class="form-group <%= form.error_class field_name %>">
  <%= form.label metadata[:foreign_key], metadata[:label] %>
  <div class="row">
    <span class="auto_select" data-init="has_and_belongs_to_many" data-url="<%= url %>" data-wildcard="<%= wildcard %>">
      <div class="col-xs-12 col-sm-6">
        <%= form.text_field metadata[:foreign_key], value: nil, class: 'form-control', multiple: true, placeholder: t('labels.auto_select_hint') %>
      </div>
      <strong class="auto_select__count"><%= t 'labels.count' %><span></span></strong>
      <ul>
        <% decorate(value || []).each do |v| %>
          <li>
            <%= form.hidden_field metadata[:foreign_key], value: v.primary_key_value, multiple: true, id: nil %>
            <a href="javascript:;"><%= v.to_label %></a>
          </li>
        <% end %>
      </ul>
    </span>
  </div>
  <%= form.error_messages field_name %>
  <p class="help-block">
    <%= new_link metadata[:class] %>
  </p>
</div>

<% #load script for only once
unless @has_and_belongs_to_many_init
  @has_and_belongs_to_many_init = true
  content_for :custom_javascript do
    javascript_tag do %>
      jQuery(document).off('turbolinks:load.has_and_belongs_to_many').on('turbolinks:load.has_and_belongs_to_many', function () {
        $('[data-init="has_and_belongs_to_many"]').auto_select();
      });
<%  end
  end
end %>
