<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="input-group">
        <span class="input-group-addon">X</span>
        <%= form.number_field field_name, value: value.try(:first), multiple: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="input-group">
        <span class="input-group-addon">Y</span>
        <%= form.number_field field_name, value: value.try(:last), multiple: true, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= form.error_messages field_name %>
</div>
