<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <%= form.text_field field_name, class: 'form-control' %>
  <%= form.error_messages field_name %>
  <p class="help-block">
    <%= t 'hints.polygon_html' %>
  </p>
</div>
