<%#
The following params are the variables that can be used in this partial.

@param form [Wallaby::FormBuilder] custom form object that adds a few helper methods and delegate missing methods to the view
@param object [Wallaby::ResourceDecorator] decorator instance which wraps the resource (e.g. ActiveRecord) instance
@param field_name [String] name of the field
@param value [Object] value of the field
@param metadata [Hash] metadata of the field
%>
<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-6 col-sm-4">
      <div class="input-group date" data-init='timepicker'>
        <%= form.time_field field_name, value: value, class: 'form-control' %>
        <span class="input-group-append"><%= fa_icon 'o-clock input-group-text' %></span>
      </div>
    </div>
  </div>
  <%= form.error_messages field_name %>
  <%= hint_of metadata %>
</div>

<% unless @timepicker_init %>
  <% @timepicker_init = true %>
  <% content_for :custom_javascript do %>
    <% javascript_tag do %>
      jQuery(document).off(readyPrefix('.time')).on(readyPrefix('.time'), function () {
        $('[data-init="timepicker"]').each(function() {
          var $input = $('input', this)
          $input.val(moment($input.attr('value')).format('HH:mm'))
          $(this).datetimepicker({
            format: 'HH:mm'
          })
        })
      })
    <% end %>
  <% end %>
<% end %>
