<article class="<%= @symbol %>">
  <h1>
    <em><%= @code %></em>
    <span><%= ct("http_errors.#{ @symbol }") %></span>
  </h1>
  <% if @code >= 500 %>
    <%= ct("http_errors.report_error").html_safe %>
  <% else %>
    <p>
      <%= @exception.try :message %>
    </p>
  <% end %>
</article>
