<article class="<%= @symbol %>">
  <h1>
    <em><%= @code %></em>
    <span><%= t "http_errors.#{@symbol}" %></span>
  </h1>
  <% if @code >= 500 %>
    <%= t "http_errors.report_error_html" %>
  <% else %>
    <p><%= @exception.try(:message) || flash[:error] %></p>
  <% end %>
</article>
